
@media (max-width: 750px) {
	#invoiceDownload {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}
	.saveControlRow {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
	}
	.controlRow {
		grid-template-columns: 1fr;
		grid-template-rows: max-content max-content 32px;
	}
	.grandTotal {
		text-align: center;
	}
	.fieldGrid:not(.addCard .fieldGrid) {
		grid-template-columns: 1fr;
		grid-template-rows: 144px min-content 1.5fr;
	}
}

@media (max-width: 500px) {
	h1 {
		font-size: 1.5em;
	}
	h2 {
		font-size: 1em;
	}

	.addCard .fieldGrid {
		display: flex;
		flex-direction: column;
	}
	.addButton {
		margin: auto;
	}
	.addPrompt, .selectedName, .option {
		text-align: center;
	}
	.selectedName, .option {
		padding-left: 8px;
	}
}

@media (max-width: 330px) {
	h1 {
		font-size: 1em;
	}
	h2 {
		font-size: 1em;
	}
	#credits {
		font-size: 12px;
	}
}